.button {
    -fx-background-color: #333;
    -fx-text-fill: #fff;
}

.button:hover {
    -fx-background-color: #fff;
    -fx-border-color: #333;
    -fx-text-fill: #333;
}

.button:pressed {
    -fx-background-color: #eeeeee;
    -fx-text-fill: #FFF;
}
.card-background{
    -fx-background-color: #fff;
}
