.button {
    -fx-background-color: #FFF;
    -fx-border-color: #355ECE;
    -fx-text-fill: #0C3988;
}

.button:hover {
    -fx-background-color: #355ECE;
    -fx-text-fill: #FFF;
}

.button:pressed {
    -fx-background-color: #0C39FF;
    -fx-text-fill: #FFF;
}


/* for warming and deletion*/
#button-warning {
    -fx-background-color: #FFF;
    -fx-border-color: #D7545A;
    -fx-text-fill: #DC3545;
}

#button-warning:hover {
    -fx-background-color: #D7545A;
    -fx-text-fill: #FFF;
}

#button-warning:pressed {
    -fx-background-color: #D7545A;
    -fx-text-fill: #FFF;
}