# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\KidusMT\Documents\LibraryProjectStartUPCode\LibraryProjectStartUPCode\Project4_Students\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
